In [1]:
import pandas as pd

In [2]:
survey1 = pd.read_csv(r"C:\Users\akash\Desktop\survey_results_public.csv")
survey1

,ResponseId,Q120,MainBranch,Age,Employment,RemoteWork,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,...,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,ProfessionalTech,Industry,SurveyLength,SurveyEase,ConvertedCompYearly
0,1,I agree,None of these,18-24 years old,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,I agree,I am a developer by profession,25-34 years old,"Employed, full-time",Remote,Hobby;Contribute to open-source projects;Boots...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;Friend or fam...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,Never,15-30 minutes a day,15-30 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,285000.0
2,3,I agree,I am a developer by profession,45-54 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Formal documentation provided by the owner of ...,...,6-10 times a week,6-10 times a week,3-5 times a week,30-60 minutes a day,30-60 minutes a day,DevOps function;Microservices;Automated testin...,"Information Services, IT, Software Development...",Appropriate in length,Easy,250000.0
3,4,I agree,I am a developer by profession,25-34 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Friend or family member;Other online...,Formal documentation provided by the owner of ...,...,1-2 times a week,10+ times a week,1-2 times a week,15-30 minutes a day,30-60 minutes a day,Automated testing;Continuous integration (CI) ...,NaN,Appropriate in length,Easy,156000.0
4,5,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Contribute to open-source projects;Profe...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Online Courses or Certi...,Formal documentation provided by the owner of ...,...,1-2 times a week,1-2 times a week,3-5 times a week,60-120 minutes a day,30-60 minutes a day,Microservices;Automated testing;Observability ...,Other,Appropriate in length,Neither easy nor difficult,23456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89179,89180,I agree,I am a developer by profession,25-34 years old,"Employed, full-time;Independent contractor, fr...",Remote,Hobby;Bootstrapping a business;Freelance/contr...,"Associate degree (A.A., A.S., etc.)",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89180,89181,I agree,I am a developer by profession,18-24 years old,"Student, full-time;Employed, part-time","Hybrid (some remote, some in-person)",School or academic work,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN
89181,89182,I agree,I code primarily as a hobby,Prefer not to say,I prefer not to say,NaN,NaN,Something else,Books / Physical media;Hackathons (virtual or ...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Neither easy nor difficult,NaN
89182,89183,I agree,I am a developer by profession,Under 18 years old,"Employed, part-time;Student, part-time","Hybrid (some remote, some in-person)",Hobby;School or academic work,"Secondary school (e.g. American high school, G...",Online Courses or Certification;Other online r...,Formal documentation provided by the owner of ...,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Neither easy nor difficult,NaN
89183,89184,I agree,I am a developer by profession,35-44 years old,"Employed, full-time","Hybrid (some remote, some in-person)",Hobby;Professional development or self-paced l...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Colleague;Online Courses or Certification;Othe...,Formal documentation provided by the owner of ...,...,Never,1-2 times a week,1-2 times a week,60-120 minutes a day,30-60 minutes a day,DevOps function;Developer portal or other cent...,"Information Services, IT, Software Development...",Appropriate in length,Easy,NaN

In [24]:
survey1.columns

Index(['ResponseId', 'Q120', 'MainBranch', 'Age', 'Employment', 'RemoteWork',
       'CodingActivities', 'EdLevel', 'LearnCode', 'LearnCodeOnline',
       'LearnCodeCoursesCert', 'YearsCode', 'YearsCodePro', 'DevType',
       'OrgSize', 'PurchaseInfluence', 'TechList', 'BuyNewTool', 'Country',
       'Currency', 'CompTotal', 'LanguageHaveWorkedWith',
       'LanguageWantToWorkWith', 'DatabaseHaveWorkedWith',
       'DatabaseWantToWorkWith', 'PlatformHaveWorkedWith',
       'PlatformWantToWorkWith', 'WebframeHaveWorkedWith',
       'WebframeWantToWorkWith', 'MiscTechHaveWorkedWith',
       'MiscTechWantToWorkWith', 'ToolsTechHaveWorkedWith',
       'ToolsTechWantToWorkWith', 'NEWCollabToolsHaveWorkedWith',
       'NEWCollabToolsWantToWorkWith', 'OpSysPersonal use',
       'OpSysProfessional use', 'OfficeStackAsyncHaveWorkedWith',
       'OfficeStackAsyncWantToWorkWith', 'OfficeStackSyncHaveWorkedWith',
       'OfficeStackSyncWantToWorkWith', 'AISearchHaveWorkedWith',
       'AISearchWantToWorkWith', 'AIDevHaveWorkedWith', 'AIDevWantToWorkWith',
       'NEWSOSites', 'SOVisitFreq', 'SOAccount', 'SOPartFreq', 'SOComm',
       'SOAI', 'AISelect', 'AISent', 'AIAcc', 'AIBen',
       'AIToolInterested in Using', 'AIToolCurrently Using',
       'AIToolNot interested in Using', 'AINextVery different',
       'AINextNeither different nor similar', 'AINextSomewhat similar',
       'AINextVery similar', 'AINextSomewhat different', 'TBranch', 'ICorPM',
       'WorkExp', 'Knowledge_1', 'Knowledge_2', 'Knowledge_3', 'Knowledge_4',
       'Knowledge_5', 'Knowledge_6', 'Knowledge_7', 'Knowledge_8',
       'Frequency_1', 'Frequency_2', 'Frequency_3', 'TimeSearching',
       'TimeAnswering', 'ProfessionalTech', 'Industry', 'SurveyLength',
       'SurveyEase', 'ConvertedCompYearly'],
      dtype='object')

In [26]:
survey=survey1.loc[:,['Country','LanguageHaveWorkedWith','ConvertedCompYearly']]
survey

,Country,LanguageHaveWorkedWith,ConvertedCompYearly
0,NaN,NaN,NaN
1,United States of America,HTML/CSS;JavaScript;Python,285000.0
2,United States of America,Bash/Shell (all shells);Go,250000.0
3,United States of America,Bash/Shell (all shells);HTML/CSS;JavaScript;PH...,156000.0
4,Philippines,HTML/CSS;JavaScript;TypeScript,23456.0
...,...,...,...
89179,Brazil,HTML/CSS;Java;JavaScript;SQL;TypeScript,NaN
89180,Romania,Dart;Java;Python;SQL,NaN
89181,Israel,Assembly;Bash/Shell (all shells);C;C#;Python;R...,NaN
89182,Switzerland,Bash/Shell (all shells);C#;HTML/CSS;Java;JavaS...,NaN
89183,"Iran, Islamic Republic of...",C#;Go;JavaScript;SQL;TypeScript,NaN

In [27]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 87973 non-null  object
 1   LanguageHaveWorkedWith  87140 non-null  object
 2   ConvertedCompYearly     48019 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.0+ MB

In [28]:
survey["Country"].fillna(survey["Country"].mode()[0],inplace =True)
survey.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89184 entries, 0 to 89183
Data columns (total 3 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Country                 89184 non-null  object
 1   LanguageHaveWorkedWith  87140 non-null  object
 2   ConvertedCompYearly     48019 non-null  float64
dtypes: float64(1), object(2)
memory usage: 2.0+ MB

In [30]:
survey['LanguageHaveWorkedWith']=survey['LanguageHaveWorkedWith'].str.split(';')

In [34]:
survey=survey.explode("LanguageHaveWorkedWith")

In [35]:
survey

,Country,LanguageHaveWorkedWith,ConvertedCompYearly
0,United States of America,NaN,NaN
1,United States of America,HTML/CSS,285000.0
1,United States of America,JavaScript,285000.0
1,United States of America,Python,285000.0
2,United States of America,Bash/Shell (all shells),250000.0
...,...,...,...
89183,"Iran, Islamic Republic of...",C#,NaN
89183,"Iran, Islamic Republic of...",Go,NaN
89183,"Iran, Islamic Republic of...",JavaScript,NaN
89183,"Iran, Islamic Republic of...",SQL,NaN
89183,"Iran, Islamic Republic of...",TypeScript,NaN

In [37]:
survey['LanguageHaveWorkedWith'].fillna(survey['LanguageHaveWorkedWith'].mode()[0],inplace=True)

In [38]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
Index: 468201 entries, 0 to 89183
Data columns (total 3 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Country                 468201 non-null  object
 1   LanguageHaveWorkedWith  468201 non-null  object
 2   ConvertedCompYearly     246969 non-null  float64
dtypes: float64(1), object(2)
memory usage: 14.3+ MB

In [40]:
survey['ConvertedCompYearly'].fillna(survey['ConvertedCompYearly'].median(),inplace =True)

In [41]:
survey.info()

<class 'pandas.core.frame.DataFrame'>
Index: 468201 entries, 0 to 89183
Data columns (total 3 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   Country                 468201 non-null  object
 1   LanguageHaveWorkedWith  468201 non-null  object
 2   ConvertedCompYearly     468201 non-null  float64
dtypes: float64(1), object(2)
memory usage: 14.3+ MB

In [46]:
survey2=survey['LanguageHaveWorkedWith']=='Python'
av=survey[survey2]
av

                        Country LanguageHaveWorkedWith  ConvertedCompYearly
1      United States of America                 Python             285000.0
7      United States of America                 Python              80000.0
9                         India                 Python              75819.0
10     United States of America                 Python              75819.0
11                    Australia                 Python              78003.0
...                         ...                    ...                  ...
89172                     Spain                 Python              75819.0
89176                    Greece                 Python              75819.0
89180                   Romania                 Python              75819.0
89181                    Israel                 Python              75819.0
89182               Switzerland                 Python              75819.0

[43158 rows x 3 columns]

In [49]:
survey5 = av.groupby('Country')

In [58]:
survey6 = pd.DataFrame(survey5['ConvertedCompYearly'].mean())
survey6

                                      ConvertedCompYearly
Country
Afghanistan                                  58738.545455
Albania                                      63237.315789
Algeria                                      58466.314286
Andorra                                      67080.600000
Angola                                       57029.750000
...                                                   ...
Venezuela, Bolivarian Republic of...         55238.690476
Viet Nam                                     58555.408046
Yemen                                        50526.750000
Zambia                                       58700.454545
Zimbabwe                                     64731.789474

[173 rows x 1 columns]

These are average salary of python developers in each country

There were a lot of null values in the dataset , we fill the null value with the help of measures of central tendency.we use mode for filling country and LanguageHaveWorkedWith and median for ConvertedCompYearly